<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="45104MAHStudio.Denna" Publisher="CN=44988219-A722-4FA5-9335-1E47D73A1418" Version="2.0.37.0" />
  <mp:PhoneIdentity PhoneProductId="fe9a93bd-2c83-4cb0-9fe3-8a46683b97c9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Denna</DisplayName>
    <PublisherDisplayName>MAH Studio</PublisherDisplayName>
    <Logo>Assets\PackageImages\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Denna.App">
      <uap:VisualElements DisplayName="Denna" Square150x150Logo="Assets\PackageImages\Square150x150Logo.png" Square44x44Logo="Assets\PackageImages\Square44x44Logo.png" Description="Denna" BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\PackageImages\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\PackageImages\Wide310x150Logo.png" Square310x310Logo="Assets\PackageImages\LargeTile.png" Square71x71Logo="Assets\PackageImages\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\PackageImages\SplashScreen.png" BackgroundColor="black" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="Denna.Services.Cortana.Commands">
          <uap:AppService Name="Bgcommand" />
        </uap:Extension>
        <uap:Extension Category="windows.personalAssistantLaunch" />
        <Extension Category="windows.backgroundTasks" EntryPoint="Denna.Services.Background.QuickAction">
          <BackgroundTasks>
            <Task Type="general" />
            <Task Type="systemEvent" />
            <Task Type="timer" />
            <Task Type="deviceUse" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Denna.Services.Background.LiveTile">
          <BackgroundTasks>
            <Task Type="general" />
            <Task Type="systemEvent" />
            <Task Type="timer" />
            <Task Type="deviceUse" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>